@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+FR+Moderne:wght@100..400&display=swap');
body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to right, #efa383, #efe774, #f0d072); 
  color: rgb(151, 57, 2); 
  margin-bottom: 10%;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 5%;
  text-align: center;
}
ul {
  list-style-type: none;
}
h1 {
  font-family: "Playwrite FR Moderne", cursive;
  margin-bottom: 5%;
  
}
button {
  margin-left: 5%;
}
img {
  height: 700px;
  width: 900px;
  opacity: 0.06;
  
}

h1 {
  margin-bottom: -6%;
}
h3 {
  font-family: "Playwrite FR Moderne", cursive;
}
h2, h3, h4 {
  z-index: 100;
  margin-bottom: 5%;
}

input {
  margin-bottom: 5%;
}

.footer{
  display: flex;
}
.footer img {
  height: 200px;
  width: 400px;
  opacity: 1;
  margin: 3%;
}

