@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
  font-family: 'Poppins', sans-serif;
  background: repeating-linear-gradient(to right, #0fdceb, #a3f1b4, #ecf1a3); 
  color: rgb(6, 55, 88); 
  margin: 10%;
}
button {
  margin-left: 5%;
}
img {
  height: 700px;
  width: 1000px;
  opacity: 0.1;
  position: absolute;
}

h2, h3, h4 {
  z-index: 100;
}


